body{
    background-image: url("hockey.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;

}



.navbar {
    font-family: 'Raleway', 'sans-serif';
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    display:block;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li{
    float: left; 
}

.navbar li a{ 
    display: block;
    padding: 24px 114.3px;
    color: whitesmoke;
    text-decoration: none;
}

.navbar li a:hover{
    background-color: rgba(245,245,245,0.3);
}





h1 {
    text-align: center;
    color: whitesmoke;
    font-family: 'Raleway', 'sans-serif';
    font-size: 120px;
    opacity: 80%;
    padding: 120px 0px;
}



/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
body{
    -ms-overflow-style: none;
}