body{
    background-image: url('j1.jpg');
    background-repeat: none;
    background-size: cover;
    margin: 0;
}

h1{
    font-family: 'chalkduster fantasy';
    text-align: center;
}

.inputarea{
    text-align: center;
}

.listt{
    text-align: center;
    padding: 8px 10px;
    
}