h1 {
    font-family: 'Raleway', 'sans-serif';
    color: whitesmoke;
    padding-top: 5%;
    text-align: center;
}

h3{
    font-family: 'Raleway', 'sans-serif';
    color: whitesmoke;
    padding: 5%;
}

h3 a{
    text-decoration:none;
    color: whitesmoke;
    
}

p {
    font-family: 'Raleway', 'sans-serif';
    color: whitesmoke;
    padding: 8%;
    text-align: center;
}

#about-image {
    padding: 10%;
    padding-top: 5%;
    height: 30%;
    width: 30%;
    float: right;
}